
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b9b5b5; opacity: .5;">
    <body style="background-color: black;"></body> 
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
            <input class="form-control me-2" type="search" placeholder="Photos, people, or groups" aria-label="search" style ="width: 75%; margin-left: 10%;">
            <button class="btn btn btn-sm" type="log in" style="text-align: center; width: 9%; height: 100%;">
              Log In
            </button>
            <button class="btn btn-light btn-sm" type="sign up" style="text-align: center; width: 9%; height: 100%;">
              Sign Up
            </button>
        </div>
      </div>
     </nav>
 <!-->
    <div class="view search-subnav-slender-view" id="yui_3_16_0_1_1675691196852_11468"></div>
      <div class="search-subnav" id="yui_3_16_0_1_1675691196852_20576">
        <div class="search-subnav-sizing fluid-centered" id="yui_3_16_0_1_1675691196852_20575">
          <div class="search-subnav-content" id="yui_3_16_0_1_1675691196852_20574">
            <ul class="links" id="yui_3_16_0_1_1675691196852_20573">
              <li class="link selected" data-id="photos" id="yui_3_16_0_1_1675691196852_20572">
              <li class="link" data-id="people" id="yui_3_16_0_1_1675691196852_20746">…</li>
              <li class="link" data-id="groups">…</li>
              <-->












