<!-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b9b5b5; opacity: .5;">
    <body style="background-color: black;"></body> 
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
            <input class="form-control me-2" type="search" placeholder="Photos, people, or groups" aria-label="search" style ="width: 75%; margin-left: 10%;">
            <button class="btn btn btn-sm" type="log in" style="text-align: center; width: 9%; height: 100%;">
              Log In
            </button>
            <button class="btn btn-light btn-sm" type="sign up" style="text-align: center; width: 9%; height: 100%;">
              Sign Up
            </button>
        </div>
      </div>
     </nav>
<-->
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link inactive" aria-current="page" href="#">
      Active
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link inactive" aria-current="page" href="#">
      Active
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link inactive" aria-current="page" href="#">
      Active
    </a>
  </li>
</ul>











