<nav class="navbar navbar-expand-sm" style="background-color: #000000; opacity: .75;"> 
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="./assets/flickr.png" width="75" height="25" style="margin-left: 50%;">
        </a>
        <button class="btn btn btn-md" type="button" style="text-align: center; margin-left: 4%;">
          Explore
        </button>
        <button class="btn btn btn-md" type="button" style="text-align: center; margin-left: 1.5%;">
          Prints
        </button>
        <button class="btn btn btn-md" type="button" style="text-align: center; margin-left: 1.5%;">
          Get Pro
        </button>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <input class="form-control me-2" type="search" placeholder="Photos, people, or groups" aria-label="search" style ="width: 43%; margin-left: 25%;">
            <img src="./assets/cloud.png" width="30" height="30"  style ="margin-left: 2%">
            <button class="btn btn btn-sm" type="log in" style="text-align: center; width: 9%; height: 100%;">
              Log In
            </button>
            <button class="btn btn-light btn-sm" type="sign up" style="text-align: center; width: 9%; height: 100%; background-color: #307bdd;">
              Sign Up
            </button>
        </div>
      </div>
    </nav>
    
