<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #b9b5b5; opacity: .5;">
    <!--<body style="background-color: black;"></body>-->  
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="https://www.flickrhelp.com/hc/article_attachments/4419907628308/unnamed__1_.png" alt="" width="75" height="25" style="margin-left: 25%;">
        </a>
  
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!--<form class="d-flex">-->
            <input class="form-control me-2" type="search" placeholder="Photos, people, or groups" aria-label="search" style ="width: 75%; margin-left: 10%;">
            <button class="btn btn btn-sm" type="log in" style="text-align: center; width: 9%; height: 100%;">
              Log In
            </button>
          <!--</form>-->
          <!--<form class="d-flex">-->
            <button class="btn btn-light btn-sm" type="sign up" style="text-align: center; width: 9%; height: 100%;">
              Sign Up
            </button>
          <!--</form>-->
        </div>
      </div>
    </nav>
    
