
<div class="btn-toolbar" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary" style="background-color: #ff2000"></button>
    <button type="button" class="btn btn-primary" style="background-color: #a24615"></button>
    <button type="button" class="btn btn-primary" style="background-color: #ff7c00"></button>
    <button type="button" class="btn btn-primary" style="background-color: #ff9f9c"></button>
    <button type="button" class="btn btn-primary" style="background-color: #fffa00"></button>
    <button type="button" class="btn btn-primary" style="background-color: #ffcf00"></button>
    <button type="button" class="btn btn-primary" style="background-color: #90e200"></button>
    <button type="button" class="btn btn-primary" style="background-color: #00ab00"></button>
    <button type="button" class="btn btn-primary" style="background-color: #00b2d4"></button>
    <button type="button" class="btn btn-primary" style="background-color: #0062c6"></button>
    <button type="button" class="btn btn-primary" style="background-color: #8c20ba"></button>
    <button type="button" class="btn btn-primary" style="background-color: #f52394"></button>
    <button type="button" class="btn btn-primary" style="background-color: #ffffff"></button>
    <button type="button" class="btn btn-primary" style="background-color: #7c7c7c"></button>
    <button type="button" class="btn btn-primary" style="background-color: #000000"></button>
  </div>
