
<div class="btn-toolbar" role="group" aria-label="First group" style= "justify-content: center; margin-right: 19%;">
    <button type="button" class="btn btn-primary" style="background-color: #ff2000; margin: 2.5px;"></button>
    <button type="button" class="btn btn-primary" style="background-color: #a24615; margin: 2.5px;"></button>
    <button type="button" class="btn btn-primary" style="background-color: #ff7c00; margin: 2.5px;"></button>
    <button type="button" class="btn btn-primary" style="background-color: #ff9f9c; margin: 2.5px;"></button>
    <button type="button" class="btn btn-primary" style="background-color: #fffa00; margin: 2.5px;"></button>
    <button type="button" class="btn btn-primary" style="background-color: #ffcf00; margin: 2.5px;"></button>
    <button type="button" class="btn btn-primary" style="background-color: #90e200; margin: 2.5px;"></button>
    <button type="button" class="btn btn-primary" style="background-color: #00ab00; margin: 2.5px;"></button>
    <button type="button" class="btn btn-primary" style="background-color: #00b2d4; margin: 2.5px;"></button>
    <button type="button" class="btn btn-primary" style="background-color: #0062c6; margin: 2.5px;"></button>
    <button type="button" class="btn btn-primary" style="background-color: #8c20ba; margin: 2.5px;"></button>
    <button type="button" class="btn btn-primary" style="background-color: #f52394; margin: 2.5px;"></button>
    <button type="button" class="btn btn-primary" style="background-color: #ffffff; margin: 2.5px;"></button>
    <button type="button" class="btn btn-primary" style="background-color: #7c7c7c; margin: 2.5px;"></button>
    <button type="button" class="btn btn-primary" style="background-color: #000000; margin: 2.5px;"></button>
  </div>
