.btn-toolbar button {
    border: 1px solid grey; 
    padding: 10px 10px;
    cursor: pointer;
    float: center; 
  }
  .btn-toolbar button:not(:last-child) {
    border-right: none;
  }
  .btn-toolbar:after {
    content: "";
    clear: both;
    display: table;
  }
