<!--Component 1-->
<div>
    <nav class="navbar navbar-expand-sm" style="background-color: #000000; opacity: .75;"> 
        <div class="container">
            
            <a class="navbar-brand" href="#">
                <img src="./assets/flickr.png" width="110" height="40" style="margin-left: 50%;">
               
            </a>
        </div>
    </nav>
</div>
<!--Component 2-->
<div class="container mt-5">
    <div class="row justfy-content-center">
        <div class="col-lg-6 col-md-8">
            <h1 class="text-center mb-4">Login</h1>
                <form>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                    </div>
                    <button type="submit" class="btn btn primary">Next</button>
                </form>  
        </div>
    </div>    
</div>
<!--Component 3-->
<div class="container mt-5">
    <div class="row justfy-content-right">
        <div class="row justfy-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 90%;"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a class="dropdown-item" href="#">
                                    Action
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    Another action
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">
                                    Something else here
                                </a>
                            </li>
                        </ul>
                </div>
        </div>
    </div>
</div>
<!--
<div class="container">
    <img src="./assets/loginbackground.jpg">
</div>
-->